<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Check Campus Estudiantil">
    <test name="Check Campus Estudiantil Links" parallel="false" preserve-order="true" verbose="2">
        <packages>
            <package name="com.yacdaniel.tests.*"/>
        </packages>
    </test>
</suite>
